src/test/resources/netsuite-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule NetSuite Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<!--

    This file was automatically generated by the Mule Cloud Connector Development Kit

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/1.0-SNAPSHOT/mule-netsuite.xsd">

        <!--
           Declare one flow like this one per element you add in your schema.

           See the comment in NetSuiteNamespaceHandlerTestCase for an example how to send
           Mule events directly to this flow.

       <flow name="theFlow">
           <netsuite:operation parameter="#[payload]"/>
       </flow>
        -->
</mule>
